.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  body{
    background-color: white;
  }
  
  .typing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    display: flex;
    width: 4ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: helvetica,arial, sans-serif;
    color: #666;
    font-size: 3em;
    max-width: 500px;
    
    width:100%;
    height:100%;
    color: #666;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
    margin-right: 10px; /* Add some right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }
  
 



  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  
   

   

    .container {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      justify-content: center;

    }
    
    h1 {
      font-size: 3rem;
      width: 20ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: helvetica,arial, sans-serif;
    color: #666;
    font-size: 3em;
    display: block;
    width:100%;
    height:100%;
    color: #666;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
    margin-right: 10px; /* Add some right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      width: 50ch;
      
      white-space: nowrap;
      overflow: hidden;
      
      font-family: helvetica,arial, sans-serif;
      color: #666;
      display: block;
      width:100%;
      height:100%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
    margin-right: 10px; /* Add some right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
    }
    
    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      
    }
    
    input[type="date"] {
        font-size: 3rem;
        width: 20ch;
      
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: helvetica,arial, sans-serif;
      color: #666;
      font-size: 3em;
      display: block;
      width:100%;
      height:100%;
      font-weight: bold;
      font-size: 10vmin;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -.07em;
      padding: .5vmax;
      transition: all .2s ease-in-out;
      margin-right: 10px; /* Add some right margin for spacing */
      margin-bottom: 10px; /* Add bottom margin for spacing */
      max-width: 2000px;
    }
    
    button {
        font-size: 3rem;
        width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      
      font-family: helvetica,arial, sans-serif;
      color: #666;
      font-size: 3em;
      display: block;
      width:100%;
      height:100%;
      font-weight: bold;
      font-size: 10vmin;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -.07em;
      padding: .5vmax;
      transition: all .2s ease-in-out;
      margin-right: 10px; /* Add some right margin for spacing */
      margin-bottom: 10px; /* Add bottom margin for spacing */
      max-width: 600px;
    }
    
    button:hover {
      background-color: black;
    }
    
    #verificationResult {
      font-size: 1.5rem;
      margin-top: 2rem;
      width: 21ch;
    
    white-space: nowrap;
    overflow: hidden;
    
    font-family: helvetica,arial, sans-serif;
    color: #666;
    font-size: 3em;
    display: block;
    width:100%;
    height:100%;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
    margin-left: 1090px; /* Add some right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
    max-width: 2000px;
   
    
    }