.column {
    position: relative;
    overflow: hidden;
}

.column img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.column:hover img {
    transform: scale(1.1);
}

.column span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px; /* Adjust padding as needed */
  background-color: transparent; /* Remove the background color */
  color: white;
  font-size: 36px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
  display: inline-block;
  border-radius: 20px; /* Rounded border */
}

.column:hover span {
  opacity: 1;
}

ul, h3 {
list-style: none;
right: 320px;
margin-right: 0px;
display: block;
text-transform: uppercase;
color: grey;
text-align: center;
justify-content: center;
}

ul li, h3 {
padding: 0 .5em .25em;
cursor: pointer;
position: relative;
overflow: hidden;
transition: .3s;
}

ul li:hover, h3:hover {
color: black;
}

ul li:before, h3:before {
content: "";
position: absolute;
inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
background: black; /* the color */
scale: 0 1;
transition: .3s, transform 0s .3s;
}

ul:hover li:before, h3:hover:before {
scale: 1;
}

ul li:hover:before, h3:hover:before {
transform: translate(0);
transition: .3s;
}

ul:hover li:has(~ li:hover):before, ul:hover h3:has(:hover) {
transform: translate(100%, 0);
transition: .2s .2s, transform 0s .4s;
}

ul:hover li:hover ~ li:before, ul:hover h3:hover ~ h3:before {
transform: translate(-100%, 0);
transition: .2s .2s, transform 0s .4s;
}

h1 {
margin-top: 0.2em;
    padding-left: 0px;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: helvetica,arial, sans-serif;
    font-size: 2em;
    width:100%;
    height:100%;
    color: #666;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -.07em;
    padding: .5vmax;
    margin-left: 820px; /* Add some right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
    padding-left: 60px;
}

.sub-header{
padding-left: 0px;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: helvetica,arial, sans-serif;
   font-size: 17px;
    width:100%;
    height:100%;
    color: li;
    font-weight: bold;
    color: #666;
    
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -.07em;
    padding: .5vmax;
  
}