@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}

.first{

  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  
  font-family: helvetica,arial, sans-serif;
  color: #666;
  font-size: 2em;
  display: block;
  width:100%;
  height:100%;
  font-weight: bold;
  
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -.07em;
  padding: .5vmax;
  transition: all .2s ease-in-out;
  margin-bottom: 10px; /* Add bottom margin for spacing */
  justify-content: center;

}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
    
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    
    font-family: helvetica,arial, sans-serif;
    color: #666;
    font-size: 3em;
    display: block;
    width:100%;
    height:100%;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
    margin-bottom: 10px; /* Add bottom margin for spacing */
    color: black;
    justify-content: center;

    margin: 0;
            min-height: 100vh;
            display: grid;
            place-content: center;
            background: linear-gradient(135deg, #3498db, #e74c3c, #9b59b6, #1abc9c);
            background-size: 100% 100%;
            animation: gradientAnimation 15s infinite;
}
#parallax-world-of-ugg h2 {
    
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
    font-family: helvetica,arial, sans-serif;
    color: white;
    font-size: 3em;
    display: block;
    width:100%;
    height:100%;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;

    background-image: url('../img/LandingPage/pexels-elina-sazonova-3971985.jpg'); /* Replace with your image URL */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
}
#parallax-world-of-ugg h3 {
  line-height: 0.6;
  font-weight: 400;
  text-transform: uppercase;
  width: 21ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    
    font-family: helvetica,arial, sans-serif;
    color: #666;
    font-size: 2em;
    display: block;
    width:100%;
    height:100%;
    font-weight: bold;
    font-size: 10vmin;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -.07em;
    padding: .5vmax;
    transition: all .2s ease-in-out;
  
}
#parallax-world-of-ugg  {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}


/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 80px;
  margin: 0 auto;
  text-align: center;
  

  
}
#parallax-world-of-ugg .title h1 {
  font-size: 4em;
  letter-spacing: 0px;

  
  
}

.sub-header{
    color: black;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: center;
}
#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  background-color: #666;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("../img/LandingPage/pexels-elina-sazonova-3971985.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  margin: 0;
            
            display: grid;
            place-content: center;
            background: linear-gradient(135deg, #3498db, #e74c3c, #9b59b6, #1abc9c);
            background-size: 200% 200%;
            animation: gradientAnimation 15s infinite;

           
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #666;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin: 0;
          
            display: grid;
            place-content: center;
            background: linear-gradient(135deg, #3498db, #e74c3c, #9b59b6, #1abc9c);
            background-size: 400% 400%;
            animation: gradientAnimation 15s infinite;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  background-color: #666;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin: 0;
            
            display: grid;
            place-content: center;
            background: linear-gradient(135deg, #3498db, #e74c3c, #9b59b6, #1abc9c);
            background-size: 200% 200%;
            animation: gradientAnimation 15s infinite;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}
