/* AuthForm.css */

.auth-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .auth-form h2 {
    margin-bottom: 10px;
  }
  
  .auth-form form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .auth-form button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-form p {
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }

  .SL{
    font-size: 50px;
  }
  